@font-face {
    font-family: "FjallaOne";
    src: url("../font/FjallaOne.ttf");
}
.TodoTemplate {
    width: 512px;
    // width가 주어진 상태에서 좌우 중앙 정렬
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
    .app-title {
        font-family: "FjallaOne";
        background-color: #ffffff;
        color: #cb9ca1;
        height: 6rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content {
        background-color: #ffffff;
    }
}